<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impressum</title>
    <link rel="stylesheet" href="/views/imprint/imprint.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div>
      <div id="navbar-container"></div>
      <div class="content">
        <h1>Impressum</h1>

        <section>
          <h2>Angaben gemäß § 5 TMG</h2>
          <p>BananaSplit Rides</p>
          <p>Wasserburger Str. 52,</p>
          <p>83278 Traunstein</p>
        </section>

        <section>
          <h2>Kontakt</h2>
          <p><strong>Telefon:</strong>-not available-</p>
          <p><strong>E-Mail:</strong> info@bananasplitrides.de</p>
          <p>
            <strong>Webseite:</strong>
            <a href="http://192.168.129.202/" target="_blank"
              >www.bananasplitrides.de</a
            >
          </p>
        </section>

        <section>
          <h2>Umsatzsteuer-ID</h2>
          <p>
            Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:
            <strong>-not available-</strong>
          </p>
        </section>

        <section>
          <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
          <p>BananaSplitRides</p>
          <p>Wasserburger Str. 52,</p>
          <p>83278 Traunstein</p>
        </section>

        <section>
          <h2>Haftungsausschluss</h2>
          <p>
            Die Inhalte dieser Webseite wurden mit größter Sorgfalt erstellt.
            Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte
            können wir jedoch keine Gewähr übernehmen.
          </p>
        </section>

        <section>
          <h2>Urheberrecht</h2>
          <p>
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf
            diesen Seiten unterliegen dem deutschen Urheberrecht.
          </p>
        </section>
      </div>
      <div id="footer-container"></div>
    </div>
    <script src="/views/imprint/imprint.js"></script>
    <script type="module" src="/views/dashboard/dashboard.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
