<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Datenschutzerklärung</title>
    <link rel="stylesheet" href="/views/data-protection/data-protection.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div>
      <div id="navbar-container"></div>
      <div class="content">
        <h1>Datenschutzerklärung</h1>

        <section>
          <h2>Allgemeine Hinweise</h2>
          <p>
            Diese Datenschutzerklärung informiert Sie über die Art, den Umfang
            und den Zweck der Verarbeitung personenbezogener Daten auf unserer
            Website.
          </p>
        </section>

        <section>
          <h2>Verantwortliche Stelle</h2>
          <p>
            Verantwortlich für die Datenverarbeitung auf dieser Website ist:
          </p>
          <p>
            BananaSplitRides<br />
            Wasserburger Str. 52, <br />
            83278 Traunstein<br />
            support@bananasplitrides.de
          </p>
        </section>

        <section>
          <h2>Erhebung und Verarbeitung personenbezogener Daten</h2>
          <p>
            Wir erheben, speichern und nutzen personenbezogene Daten nur, soweit
            dies gesetzlich erlaubt ist oder Sie eingewilligt haben.
          </p>
        </section>

        <section>
          <h2>Ihre Rechte</h2>
          <p>
            Sie haben das Recht auf Auskunft, Berichtigung, Löschung und
            Einschränkung der Verarbeitung Ihrer personenbezogenen Daten.
          </p>
        </section>
      </div>
      <div id="footer-container"></div>
    </div>
    <script src="/views/data-protection/data-protection.js"></script>
    <script type="module" src="/views/dashboard/dashboard.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
