<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Datenschutzerklärung</title>
    <link rel="stylesheet" href="/views/data-protection/dp-login.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div>
      <div class="content">
        <svg
          class="back-arrow"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          onclick="window.location.href = '/register'"
        >
          <path
            d="M177.5 414c-8.8 3.8-19 2-26-4.6l-144-136C2.7 268.9 0 262.6 0 256s2.7-12.9 7.5-17.4l144-136c7-6.6 17.2-8.4 26-4.6s14.5 12.5 14.5 22l0 72 288 0c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32l-288 0 0 72c0 9.6-5.7 18.2-14.5 22z"
          />
        </svg>
        <h1>Datenschutzerklärung</h1>

        <section>
          <h2>Allgemeine Hinweise</h2>
          <p>
            Diese Datenschutzerklärung informiert Sie über die Art, den Umfang
            und den Zweck der Verarbeitung personenbezogener Daten auf unserer
            Website.
          </p>
        </section>

        <section>
          <h2>Verantwortliche Stelle</h2>
          <p>
            Verantwortlich für die Datenverarbeitung auf dieser Website ist:
          </p>
          <p>
            BananaSplitRides<br />
            Wasserburger Str. 52, <br />
            83278 Traunstein<br />
            support@bananasplitrides.de
          </p>
        </section>

        <section>
          <h2>Erhebung und Verarbeitung personenbezogener Daten</h2>
          <p>
            Wir erheben, speichern und nutzen personenbezogene Daten nur, soweit
            dies gesetzlich erlaubt ist oder Sie eingewilligt haben.
          </p>
        </section>

        <section>
          <h2>Ihre Rechte</h2>
          <p>
            Sie haben das Recht auf Auskunft, Berichtigung, Löschung und
            Einschränkung der Verarbeitung Ihrer personenbezogenen Daten.
          </p>
        </section>
      </div>
    </div>
  </body>
</html>
