<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passwort zurücksetzen</title>
    <link rel="stylesheet" href="/views/reset-password/reset-password.css" />
    <link rel="stylesheet" href="/views/toast/toast.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="reset-container">
      <div class="reset-box">
        <svg
          class="back-arrow"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          onclick="window.location.href = '/'"
        >
          <path
            d="M177.5 414c-8.8 3.8-19 2-26-4.6l-144-136C2.7 268.9 0 262.6 0 256s2.7-12.9 7.5-17.4l144-136c7-6.6 17.2-8.4 26-4.6s14.5 12.5 14.5 22l0 72 288 0c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32l-288 0 0 72c0 9.6-5.7 18.2-14.5 22z"
          />
        </svg>
        <h1 class="title">Passwort ändern</h1>
        <form action="#" method="post">
          <label for="password" class="label">Neues Passwort:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Neues Passwort"
            required
            maxlength="254"
          />

          <label for="repeat-password" class="label"
            >Neues Passwort wiederholen:</label
          >
          <input
            type="text"
            id="repeatPassword"
            name="password"
            placeholder="Neues Passwort wiederholen"
            required
            maxlength="254"
          />
          <br />
          <button type="button" class="btn-reset" id="resetBtn">
            Passwort ändern
          </button>
        </form>
        <p id="message"></p>
      </div>
    </div>
    <script
      type="module"
      src="/views/reset-password/reset-password.js"
    ></script>
    <script src="/app.js"></script>
  </body>
</html>
