<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BananaSplit Ride Footer</title>
    <link rel="stylesheet" href="/views/footer/footer.css" />
  </head>
  <body>
    <div class="footer">
      <div class="footer-content">
        <div class="footer-left">
          <h4>BananaSplit Ride</h4>
        </div>
        <div class="footer-right">
          <a href="/imprint">Impressum</a>
          <a href="/data-protection">Datenschutz</a>
        </div>
      </div>

      <p>&copy; 2025 Mitfahrzentrale - Alle Rechte vorbehalten</p>
    </div>
  </body>
</html>
