<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Seite nicht gefunden</title>
    <link rel="stylesheet" href="/views/error/404.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <h1 class="title">404 - Seite nicht gefunden</h1>
        <p>Die Seite, die du suchst, konnte nicht gefunden werden.</p>
        <p>
          Vielleicht möchtest du zu unserer
          <a href="/">Startseite</a> zurückkehren.
        </p>
      </div>
    </div>
    <script src="script.js"></script>
    <script src="../../routes/router.js"></script>
  </body>
</html>
